@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base{
   html,body{
    height: 100%;
    width: 100%;
   }
}

.light{
   --background: #FFFFFF;
   --tertiary:#ff4ac1;
   --header:#4ee4e4;
   --card:#a3a3a3;
   --text:#000;
   --input:#cfccd1;
}
.dark{
   --background: #6b7280;
   --tertiary:#ff4ac1;
   --header:#4ee4e4;
   --card:#374151;
   --text:#FFF;
   --input:#f5eded;
}